#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath }}

name: {{ docker_project_slug }}

services:

  postgres:
    container_name: {{ docker_project_slug }}
    image: postgres:{{ postgres_version }}
    restart: unless-stopped

    # set shared memory limit when using docker-compose
    shm_size: {{ postgres_shm_size }}

    {{ docker_project_compose_service_additional_options | indent(4) }}

    environment:
      #POSTGRES_PASSWORD:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres-passwd

      #POSTGRES_USER:
      #POSTGRES_DB
      #POSTGRES_INITDB_ARGS
      #POSTGRES_INITDB_WALDIR
      #POSTGRES_HOST_AUTH_METHOD
      #PGDATA: /var/lib/postgresql/data

    volumes:
      - ./postgres-passwd:/run/secrets/postgres-passwd
      - ./data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d

networks:
  {{ docker_project_default_network | indent(2) }}

{{ docker_project_compose_additional_options }}
