#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  postgres:
    image: postgres:{{ postgres_version }}
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}

    # set shared memory limit when using docker-compose
    shm_size: {{ postgres_shm_size }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    environment:
      #POSTGRES_PASSWORD:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres-passwd

      #POSTGRES_USER:
      #POSTGRES_DB
      #POSTGRES_INITDB_ARGS
      #POSTGRES_INITDB_WALDIR
      #POSTGRES_HOST_AUTH_METHOD
      #PGDATA: /var/lib/postgresql/data

    volumes:
      - ./postgres-passwd:/run/secrets/postgres-passwd
      - ./data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d

    {% if docker_project_service_additional_labels %}
    labels:
      {{ docker_project_service_additional_labels | indent(6) }}
    {% endif %}

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
